NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=raptilestudio.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=e0b6db828d13e38bf9359d46cc89850b
SHOPIFY_COLLECTION_HANDLE=frontpage
SHOPIFY_REVALIDATION_SECRET=your-webhook-secret
